 body, html{
    padding: 0;
    margin: 0;
    height: 100%;

}


.navlist{
    padding: 20px;
    margin: 0;
    list-style-type: none;
    background-color: slateblue;
    width: 150px;
    height: 100%;
    float: left;
    font-size: 10px;
}

/* ul li {
    font-size: large;
    text-decoration: none;
    color: #fff;
    padding: 5px 40px;
    border: 1px solid #fff;
    margin: 2px;
}

 */

.wrapper{
    display: grid;
    grid-template-columns: 15% 85%;
    grid-template-rows: 30% 100%;
    justify-content: left;
}

.remainingtop{
    display: grid;
    grid-template-columns: 90% 5% 5%;
    align-items: center;
    border-left: 1px solid gray;
   
}
.navigationbar{
    display: flex;
    background-color: #242b42;
    justify-content: center;
    height: 1000%;
    
}
 .Issue{
    background-color: rgb(218, 226, 226);
    display: grid;
    grid-template-rows: 30% 1000%;
    
   
}
.issuehead{
    display: grid;
    grid-template-columns: 80% 5% 7% 3% 5%;
    align-items: center;
} 
 .issue_content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    column-gap: 20px;
}
.todolist {
    display: grid;
    grid-template-rows: 10px;
    row-gap: 10px;
    
}
*/
/* .desc{
    background-color: white;
} */
/* .todo{
    height: 100%;
    width: 100%;
    background-color: #EBEDF4;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    row-gap: 10px;
    
    
} */
.firsttodo{
    display: flex;
    

}
.progress{
    height: 100%;
    width: 100%;
    background-color: #EBEDF4;

}
.done{
    height: 100%;
    width: 100%;
    background-color: #EBEDF4;

}
.dashboardclass,.createclass{
    color: rgb(114, 131, 184);
    background-color: #2f3858;
    
}
.issueclass{
    background-color: #5369FA;
    color: white;
}
li{
    margin 10px 0;;
    padding: 8px;
    border: 2px;
    font-size: x-large;
}

